server:
  port: 9091

spring:
  application:
    name: cargo-service # name for gateway
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root
    url: jdbc:postgresql://localhost:5432/LogiCargoDB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


  rabbitmq:
    host: localhost
    port: 5672
    username: guest # default
    password: guest # default


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
