server:
  port: 8080

spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE  # lb = Load Balancer (go for name in the eureka)
          predicates:
            - Path=/dev/v1/logi-track-auth/** # for everything begins with /auth

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

